<div class="row">
    <div class="col-8 mx-auto">
        <div class="row">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="text-start">
                    <small class="form-text text-danger"><sup>*</sup>Nome obrigatorio</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 text-end">
                <a href="/prototype/pages/areas.html" class="btn btn-secondary">Cancelar</a>
                <a href="/prototype/pages/areas.html" class="btn btn-primary">Salvar</a>
            </div>
        </div>
    </div>
</div>