<div class="formgroup">
    <div class="mb-3">
        <label for="area">Escolha uma area:</label>
        <select type="area" id="area" name="area" class="form-control">
            <option value="0"></option>
            <option value="1">Clinico Geral</option>
            <option value="2">Dentista</option>
            <option value="3">Estética</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="professional">Escolha um profissional:</label>
        <select id="professional" name="professional" class="form-control">
            <option value="0"></option>
            <option value="1">Maria Pereira</option>
            <option value="2">João Silva</option>
            <option value="3">Matos Mendes</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="appointmentType">Escolha um tipo de atendimento:</label>
        <select id="appointmentType" name="appointmentType" class="form-control">
            <option value="0"></option>
            <option value="1">Particular</option>
            <option value="2">Convenio 1</option>
            <option value="3">Convenio 2</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="client">Crie ou digite o nome de um cliente:</label>
        <input type="text" id="client" name="client" class="form-control">
        <div class="text-start">
            <small>Confirme o telefone do cliente: (+244)921664281</small>
        </div>
    </div>
    <div class="mb-3">
        <label for="date">Comentário</label>
        <textarea id="comment" name="comment" class="form-control"></textarea>
    </div>
</div>