<div class="row">
    <div class="col-8 mx-auto">
        <div class="row">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="text-start">
                    <small class="form-text text-danger"><sup>*</sup>Nome obrigatorio</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="phone" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                    <div class="text-start">
                        <small class="form-text text-danger"><sup>*</sup>Telefone obrigatorio</small>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="dateofbirth" class="form-label">Data Nascimento</label>
                    <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" required>
                    <div class="text-start">
                        <small class="form-text text-danger"><sup>*</sup>Data de nascimento obrigatorio</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 text-end">
                <a href="/prototype/pages/clients.html" class="btn btn-secondary">Cancelar</a>
                <a href="/prototype/pages/clients.html" class="btn btn-primary">Salvar</a>
            </div>
        </div>
    </div>
</div>