<div class="table-client">
    <div class="row">
        <div class="table">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <th scope="col fw-bold">Nome</th>
                        <th scope="col fw-bold">Telefone</th>
                        <th scope="col fw-bold">E-mail</th>
                        <th scope="col fw-bold">Password</th>
                        <th scope="col fw-bold">Remover</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control" placeholder="Filtrar pelo nome">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="/prototype/pages/user.html">Maria da Silva</a></td>
                        <td>(11) 9999-9999</td>
                        <td>maria.silva@gmail.com</td>
                        <td>********</td>
                        <td><img src="/prototype/components/table_user/svg/trash-fill.svg" width="20" height="20"
                                alt="Remover"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="/prototype/pages/user.html">João da Silva</a></td>
                        <td>(11) 9999-9999</td>
                        <td>joao.silva@hotmail.com</td>
                        <td>********</td>
                        <td><img src="/prototype/components/table_user/svg/trash-fill.svg" width="20" height="20"
                                alt="Remover"></td>
                <tbody>
            </table>
            <div id="paginator"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#paginator").load("/prototype/components/paginator/paginator.html");
    });
</script>