<div class="formgroup">
    <div class="mb-3">
        <label for="professional">Escolha um profissional:</label>
        <select id="professional" name="professional" class="form-control">
            <option value="0"></option>
            <option value="1">Maria Pereira</option>
            <option value="2">João Silva</option>
            <option value="3">Matos Mendes</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="area">Escolha uma area:</label>
        <select type="area" id="area" name="area" class="form-control">
            <option value="0"></option>
            <option value="1">Clinico Geral</option>
            <option value="2">Dentista</option>
            <option value="3">Estética</option>
        </select>
    </div>
</div>