<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">Agenda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/prototype/pages/areas.html">Área</a></li>
            <li><a class="dropdown-item" href="/prototype/pages/professionals.html">Profissional</a></li>
            <li><a class="dropdown-item" href="/prototype/pages/appointment_types.html">Tipo de Atendimento</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/prototype/pages/clients.html">Cliente</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/prototype/pages/users.html">Usuário</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Agendamentos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/prototype/pages/today_appointment.html">Hoje</a></li>
            <li><a class="dropdown-item" href="/prototype/pages/create_appointment.html">Agendar</a></li>
            <li><a class="dropdown-item" href="#">Cancelar</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Histórico de Cliente</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/prototype/pages/professional_schedule.html">Agenda do Profissioal</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex" role="logou">
        <div class="my-auto me-4">
          Atendente: <span class="fw-bold">Márcia Pereira</span>
        </div>
        <button class="btn btn-outline-success" type="submit">Sair</button>
      </form>
    </div>
  </div>
</nav>